<p id="notice"><%= notice %></p>

<h1>解析のページ</h1>

  <% @questios.each do |question| %>
      <div class="view fourth-effect"><%= link_to image_tag(question.z), :controller => 'analyzes', :action => 'show', :id => question.qid %>
        <div class="mask"></div>
      </div>
  <% end %>
