body {
  background-color: #f2f7f2;
}

/*-----login-----*/
.login {
  text-align:center;
}

#login_form {
  margin-right: auto;
  margin-left: auto;
}

.top_pre pre{
  font-size: medium;
}

/*-----user_page-----*/
.all {
  background-color: #f2f7f2;
}

#title {
  margin: 0;
  background-color: #f2f7f2;
}
#title h1{
  text-align: center;
}

#user_info {
  width: 200px;
  margin-left: auto;
  margin-right: 0px;
  background-color: #f2f7f2
}
#user_info ul{
  width: 200px;
}

.power {
  text-align: center;
  background-color: #ffff8e;
}

.rank {
  background-color: #dbe4ff;
}

.rank h2{
  text-align: center;
}
.rank ol{
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.rank li{
  font-size: x-large;
  line-height: 30px;
}

/*-----Question_photo-----*/
#img {
  margin-left: 20px;
}

/*-----Analyze-----*/
.analyze h2{
  text-align: center;
}

/*-----Create_User-----*/
.new_user {
  text-align:center;
}

.field {
  margin-right: auto;
  margin-left: auto;
}
