<p id="notice"><%= notice %></p>

<h1>問題選択</h1>

<% @questions.each do |question| %>
  <% if @answered.value?(question.qid) == true then %>
      <p><%= link_to question.qid, :controller => 'results', :action => 'show', :id => question.qid %></p>
  <% else %>
      <p><%= link_to question.qid, question %></p>
  <% end %>
<% end %>

<!-- <%= link_to 'New Question', new_question_path %> -->
