<p id="notice"><%= notice %></p>

<h1>問題選択</h1>

<% @questions.each do |question| %>
  <% if question.qid == 1 then true %>
    <p>
  <% elsif question.qid == 6 then true %>
    <p></p>
  <% end %>
  
  <% if @answered.value?(question.qid) == true then %>
      <%= link_to image_tag(question.z), :controller => 'results', :action => 'show', :id => question.qid %>
  <% else %>
      <%= link_to image_tag(question.z), question %>
  <% end %>
<% end %>
