<p id="notice"><%= notice %></p>

<h1>問題選択</h1>

<table>
  <tbody>
    <% @questions.each do |question| %>
      <% if @answered.value?(question.id) == true then %>
        <tr>
          <td>
            <%= link_to question.qid, :controller => 'results', :action => 'show', :id => question.qid %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to question.qid, question %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'New Question', new_question_path %> -->
